<footer class="w-full inline-block align-top bg-black text-white text-opacity-60">
        <div class="w-full container px-4 mx-auto">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full text-center pt-10 md:pt-14 px-4">
                    <h2 class="text-4xl text-yellow-600 font-light">Need Help?</h2>
                    <h3 class="text-2xl my-3">Call steam room specialist <span class="text-white">00000 000 000</span></h3>
                    <p>Monday to Friday 9am to 5:30pm GMT</p>
                    <span class="inline-block w-full my-10 md:my-14 border-b border-opacity-50"></span>
                </div>
                <div class="w-full md:w-1/2 mb-8 md:mb-16 px-4">
                    <img class="w-52 max-w-full" src="images/logo.png">
                </div>
                <div class="w-full md:w-1/2 mb-8 md:mb-16 px-4">
                    <ul class="list-reset flex justify-start md:justify-end flex-1 items-center text-white text-opacity-60 text-xs text-lg">
                        <li class=""><a href="#" class="hover:text-white"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="ml-5"><a href="#" class="hover:text-white"><i class="fab fa-twitter"></i></a></li>
                        <li class="ml-5"><a href="#" class="hover:text-white"><i class="fab fa-google"></i></a></li>
                        <li class="ml-5"><a href="#" class="hover:text-white"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 px-4">
                    <h4 class="text-lg text-white uppercase font-semibold mb-4">COMPANY INFORMATION</h4>
                    <ul class="mb-4 md:mb-0">
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">About us</a></li>
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Blog</a></li>
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Contact us</a></li>
                        <li><a class="text-white text-opacity-40 hover:text-white" href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 px-4">
                    <h4 class="text-lg text-white uppercase font-semibold mb-4">DELIVERY AND RETURNS</h4>
                    <ul class="mb-4 md:mb-0">
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Delivery Information</a></li>
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Returns policy</a></li>
                        <li><a class="text-white text-opacity-40 hover:text-white" href="#">Terms and conditions</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 px-4">
                    <h4 class="text-lg text-white uppercase font-semibold mb-4">CUSTOMER SUPPORT</h4>
                    <ul class="mb-4 md:mb-0">
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Your account</a></li>
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Security</a></li>
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Accessibility</a></li>
                        <li class="mb-3"><a class="text-white text-opacity-40 hover:text-white" href="#">Why choose us</a></li>
                        <li><a class="text-white text-opacity-40 hover:text-white" href="#">Sitemap</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 px-4">
                    <h4 class="text-lg text-white uppercase font-semibold mb-4">EMAIL NEWSLETTER</h4>
                    <p class="mb-4 text-white text-opacity-40">Sign up for news and exclusive offers.</p>
                    <form>
                        <input type="email" name="" placeholder="Email address" class="bg-white bg-opacity-30 px-5 py-3 text-white rounded-none w-full outline-none">
                        <button type="button" class="inline-block py-3 px-8 mt-4 bg-transparent transition-all ease-in-out font-semibold border border-white text-white text-sm uppercase  hover:text-yellow-500 hover:border-yellow-500">Sign Up</button>
                    </form>
                </div>
                <div class="w-full text-center py-8 md:py-16 px-4">
                    <img class="max-w-full mx-auto" src="images/payment_icon.png">
                </div>
                <div class="w-full pb-10 px-4">
                    <ul class="list-reset flex flex-wrap items-center justify-center md:justify-start text-xs text-center">
                        <li class="w-full md:w-auto mb-3 md:mb-0"><a href="#">© 2021  All rights reserved.</a></li>
                        <li class="mx-3"><a href="#" class="hover:text-white">Terms of Use</a></li>
                        <li class="mx-3"><a href="#" class="hover:text-white">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
