<header class="bg-black">
    <div class="w-full container mx-auto px-4 flex flex-wrap items-center justify-between mt-0 py-4">
        <div class="flex items-center order-1">
            <a class="" href="index.html">
                <img class="w-52 max-w-full" src="images/logo.png">
            </a>
        </div>
        <form class="mx-auto w-full max-w-full md:max-w-xs lg:max-w-xl relative order-3 md:order-2 mt-3 md:mt-0">
            <i class="fas fa-search absolute top-4 left-4 text-white"></i>
            <input type="text" name="" placeholder="Search" class="bg-white bg-opacity-30 px-5 pl-11 py-3 text-white rounded-none w-full outline-none">
        </form>
        <div class="order-2 md:order-3 ml-auto md:ml-0">
            <a href="#" class="text-white"><img class="max-full float-left mr-3" src="images/cart_icon.png"> 2 Items <i class="fas fa-chevron-right text-xs ml-1 text-yellow-500"></i></a>
        </div>

    </div>
</header>