<div class="flex bg-gray-100">
        <div class="bg-gray-100 w-full xl:container mx-auto xl:px-4">
            <div class="swiper-container w-100 overflow-hidden relative">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                    <div class="swiper-slide">
                        <img class="w-full max-w-full" src="images/slider1.jpg">
                        <div class="absolute top-1/2 transform -translate-y-1/2 left-0 uppercase text-center w-full text-white px-8">
                            <h2 class="text-2xl lg:text-5xl font-light">Lorem ipsum Buying Tips</h2>
                            <a href="#" class="border text-sm py-2 px-7 inline-block mt-5 md:mt-8">Download Free Report</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img class="w-full max-w-full" src="images/luxurystore.jpg">
                        <div class="absolute top-1/2 transform -translate-y-1/2 left-0 uppercase text-center w-full text-white px-8">
                            <h2 class="text-2xl lg:text-5xl font-light">Lorem ipsum Buying Tips</h2>
                            <a href="#" class="border text-sm py-2 px-7 inline-block mt-5 md:mt-8">Download Free Report</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img class="w-full max-w-full" src="images/slider3.jpg">
                        <div class="absolute top-1/2 transform -translate-y-1/2 left-0 uppercase text-center w-full text-white px-8">
                            <h2 class="text-2xl lg:text-5xl font-light">Lorem ipsum Buying Tips</h2>
                            <a href="#" class="border text-sm py-2 px-7 inline-block mt-5 md:mt-8">Download Free Report</a>
                        </div>
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev text-white left-3 lg:left-8"></div>
                <div class="swiper-button-next text-white right-3 lg:right-8"></div>
                <!-- If we need pagination -->
            </div>
        </div>
    </div>