<div class="bg-black">
    <div class="w-full container mx-auto px-4 flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="ml-auto">
            <ul class="list-reset flex justify-end flex-1 items-center text-white text-opacity-60 text-xs">
                <li class="text-white text-opacity-60">Need Help? <a class="text-white" href="#">Call 00000 000 000</a></li>
                <li class="ml-8 hidden md:block"><a href="about.html">About us</a></li>
                <li class="ml-3 hidden md:block"><a href="#" id="open-btn">Contact us</a></li>
                <li class="ml-3 hidden md:block"><a href="#">FAQs</a></li>
                <li class="ml-3 hidden md:block"><a href="#">Buyers Guides</a></li>
                <li class="ml-3 hidden md:block"><a href="#">Media</a></li>
                <li class="ml-3 hidden md:block"><a href="#">Blog</a></li>
                <li class="ml-4 lg:ml-8"><a class="text-white" href="#"><span class="w-5 h-5 inline-block align-middle bg-no-repeat" style="background-image: url(images/sprit2.png);"></span> Register | Login</a></li>
            </ul>
        </div>
    </div>
</div>